### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free PostgreSQL database: https://vercel.com/postgres
# If you're deploying this template with a Vercel Deploy Button, these will be configured automatically for you.
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Nodemailer Email Service and OAuth2
MAIL_USERNAME=
MAIL_PASSWORD=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=
OAUTH_ACCESS_TOKEN=

# imgbb.com image uploader api key
NEXT_PUBLIC_IMGBB_API_KEY=

# JWT Secret
JWT_SECRET=

# Mapbox
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API=